:root {
    --font: "Montserrat", sans-serif;
    --text-color: white;
    --box-color: #C11119;
    --logo-color: #E50914;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background-color: black;
}

.container {
    height: calc(85vh);
    /* max-width: max(1200px, 80vw); */
    background-size: max(1200px, 100vw);
    background-image: url(../assets/images/main-bg.jpg);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.container .box {
    position: absolute;

    top: 0;
    height: calc(85vh);
    width: 100%;
    opacity: 0.44;
    background-color: black;
}

.logo img {
    color: #E50914;
    position: relative;
    z-index: 10;
}

.nav .buttons {
    position: relative;
    z-index: 10;
}

.nav {
    height: 62px;
    /* background-color: red; */
    margin: auto;
    top: 20px;
    max-width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.heroText {
    position: relative;
    color: var(--text-color);
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 0 30px;
}

.heroText> :first-child {
    font-size: 50px;
    font-weight: 900;
    text-align: center;


}

.heroText> :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;

}

.heroText> :nth-child(3) {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;

}

.separation {
    height: 6px;
    background-color: rgb(80, 80, 80);
    /* width: 100vw; */
}

.buttons :first-child {
    background-color: rgba(23, 23, 23, 0.7);
}

.btn {
    padding: 8px 10px 8px 10px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 400;
    font-size: 15px;
    border-radius: calc(0.25rem - 0.0625rem);
    border: rgba(23, 23, 23, 0.7);
}

.btn-red {
    color: white;
    background-color: var(--box-color);
    padding: 15px 21px;
    font-size: 20px;
}

.btn-red:hover {
    font-size: 24px;
    font-weight: 900;
    padding: 11px 17px;
    transition: 0.2s ease-out;
}

.inp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

.inp>input {
    padding: 13px 23px;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: calc(0.25rem - 0.0625rem);
    font-size: 20px;

    border: 1px solid rgba(246, 238, 238, 0.5);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.582);
}

.btn-red-sn {
    background-color: #C11119;
}

.card-section {
    height: 85vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-section span {
    color: var(--text-color);
}

.text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 32%;
    gap: 15px;
}

/* .image>img {
        width: 100%;
        } */

.image {
    position: relative;
    height: 80%;
    max-width: 50%;
    position: relative;
}

.image img {
    z-index: 11;
    /* height: inherit; */
    width: 30vw;
    position: relative;
}

.image video{
    position: absolute;
    top: 1px;
    right: 0;
    width: 29vw;
}
.text> :first-child {
    font-size: 48px;
    font-weight: 900;

}

.text> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}

.dwnl-box{
    z-index: 12;
    position: absolute;
    height: 11vh;
    width: 20vw;
    padding: 1px 1px 2px 1px;
    border: 1px solid var(--text-color);
    left: 17%;
    bottom: 40%;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dwnl-box>div img{
    position: relative;
    top: 5px;
    /* left: 8px; */
    width: 57px;
    height: 76px;
}

.dwnl-box> .txt-str{
    position: relative;
    display: flex;
    flex-direction: column;
    right:  32px;
}
.dwnl-box> .txt-str :nth-child(2){
    color: #0071eb;
}